  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <!-- jquery js before bootstrap -->
  <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<div class="container footer">
    <hr>
    <footer>Hitesh Chitalia</footer>
</div>
</body>
</html>