<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/toDoList.css">

<div class="container">
    <div class="jumbotron"><h1>Awesome To Do List</h1>
        <p>Uses jQuery, CSS and HTML</span></p>
    </div>
</div>
<div id="list" class="toDoBody">
    <h2>To-Do List<i class="fa fa-plus"></i></h2>
    <input type="text" placeholder="Add a To Do">
    <ul>
    </ul>
</div>

<script type="text/javascript" src="/js/toDoList.js"></script>

<% include partials/footer %>
