<% include partials/header %>

<link rel="stylesheet" type="text/css" href="https://d28yqlnhqzu0k4.cloudfront.net/css/toDoList.css">

<div class="container">
    <div class="jumbotron"><h1>Awesome To Do List</h1>
        <p>Uses jQuery, CSS and HTML</span></p>
    </div>
</div>
<div id="list" class="toDoBody">
    <h2>To-Do List<i class="fa fa-plus"></i></h2>
    <input type="text" placeholder="Add a To Do">
    <ul>
    </ul>
</div>

  <script type="text/javascript" src="https://d28yqlnhqzu0k4.cloudfront.net/js/jquery-3.1.1.min.js"></script>
  <!-- jquery js before bootstrap -->
  <script type="text/javascript" src="https://d28yqlnhqzu0k4.cloudfront.net/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://d28yqlnhqzu0k4.cloudfront.net/js/toDoList.js"></script>

<div class="container footer">
    <hr>
    <footer>Hitesh Chitalia</footer>
</div>
</body>
</html>
